<div class="wrapper" fxLayoutAlign="center">
<mat-card fxFlex="60%">
   <app-image-upload [imgData]="imgData" (imageEvent)="imageEvent($event)"></app-image-upload>
   <app-dynamic-form *ngIf="formData" [jsonFormData]="formData" (onEnter)="onSubmit()" #editProfile>
   </app-dynamic-form>
   <div class="button"  fxLayoutAlign="center" >
   <button fxFlex="20%"  fxLayoutAlign="center" mat-raised-button color="primary" [disabled]="editProfile && !editProfile.myForm.valid" (click)="onSubmit()">{{"SUBMIT" | translate}}</button>
</div>
</mat-card>
</div>