<div class="wrapper" fxLayoutAlign="center">
<mat-card fxFlex="55%" fxFlex.xs="98%" fxFlex.sm="80%" fxLayout="column" fxLayoutAlign="center center">
   <app-image-upload [imgData]="imgData" (imageEvent)="imageEvent($event)"></app-image-upload>
   <div class="form-wrapper">
      <app-dynamic-form *ngIf="formData" [jsonFormData]="formData" (onEnter)="onSubmit()" [uiConfig]="uiConfig" #editProfile>
      </app-dynamic-form>
   </div>
   <div class="button"  fxLayoutAlign="center" >
   <button mat-raised-button class="button-shadow" color="primary" (click)="onSubmit()">{{"SUBMIT" | translate}}</button>
</div>
</mat-card>
</div>