<mat-icon fxLayoutAlign="center center" class="close align-right" (click)="cancel()">close</mat-icon>
<mat-label mat-dialog-title>{{dialogueData?.header}}</mat-label>
<mat-label mat-dialog-title class="sub-header">{{dialogueData?.subHeader | translate}}</mat-label>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="data" [required]="dialogueData?.required">
  </mat-form-field>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between">
  <button mat-raised-button class="btn" (click)="cancel()">{{"CANCEL"|translate}}</button>
  <button mat-raised-button class="btn btn-primary" [mat-dialog-close]="data" cdkFocusInitial>{{"OK"|translate}}</button>
</div>