<div class="main-div" fxFlexAlign="center center">
    <div fxLayout="row" fxFlex="79" fxLayoutGap="20px" class="container" fxFlexAlign="center center" fxLayout.xs="column" fxFlex.xs="100" fxFlex.sm="100">
        <div class="card-images" fxFlex="35%" fxFlexAlign="center center" fxLayout="column" fxLayoutGap="10px">
            <div class="image"
                [ngStyle]="{'background-image':(cardData?.image && cardData?.image.length) ? 'url(' + cardData?.image + ')' : 'url(\'/assets/images/session-default-img.png\')' }">
            </div>
            <div>
                <button class="enroll-button" mat-raised-button color="primary" >{{details.buttonLabel}}</button>
            </div>
        </div>
        <div fxLayout="column" fxLayoutGap="10px" class="session-data">
        <app-generic-details [details]="details" [layoutAlign]="layout"></app-generic-details>
    </div>
</div>