<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" class="alphabet-conatiner">
  <div *ngFor="let a of alphabetsArray" class="alphabet" (click)="onClickAlphabet(a)" [ngClass]="{'primary': this.selectedAlphabet==a}" >{{a}}</div>
</div>
<div class="create-session-horizontal-line" fxLayoutAlign="center">
  <hr fxFlex="95%">
</div>
<div *ngIf="selectedAlphabet == 'All'">
  <div *ngFor="let mentor of mentors" fxLayout="column" >
    <div fxLayout="row wrap" class="mentor-card-conatiner" fxLayoutGap="20px grid">
      <div *ngFor="let value of mentor.values" fxFlex="33.3%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33.3%">
        <app-mentor-card [cardData]="value" (onClickEvent)="eventAction($event)"></app-mentor-card>
      </div>
    </div>
  </div>
</div>
<div *ngIf="selectedAlphabet != 'All' && this.selectedMentors.values" fxLayout="column">
  <div fxLayout="row wrap" class="mentor-card-conatiner" fxLayoutGap="20px grid">
  <div *ngFor="let value of this.selectedMentors.values" fxFlex="33.3%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33.3%">
    <app-mentor-card [cardData]="value" (onClickEvent)="eventAction($event)"></app-mentor-card>
  </div>
</div>
</div>
