@import "../../../../../variables";
.mentor-card-conatiner{
    padding: 20px;
}
.alphabet{
    padding: 5px 10px 5px 10px ;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 10px;
    
}
.alphabet-conatiner{
    padding: 30px  0  30px 0;
    overflow-x : auto;
}
.primary{
    background-color: $theme;
}