<div class="footer" fxLayoutAlign="center">


    <div class="footer-container" fxLayout="row"  fxFlex.lt-sm="column" fxLayout.lt-md="column"  fxLayoutAlign="center" fxLayoutGap="20px">

        <div fxFlex="25%" >
            <img class="footer-mobile-logo" src="/assets/images/Mobile.svg" />
        </div>
        <div fxFlex="30%" class="footer-signup-container">
            <p class="footer-signup-text">{{"FOOTER_SIGNUP_TEXT" | translate}}</p>
            <div class="footer-signup-contains">
                <p>{{"FOOTER_SIGNUP_CONTAINS" | translate}}</p>
            </div>
            <button class="footer-signup-button" mat-raised-button ><a class="footer-signup-button-a" href="https://play.google.com/store/apps/details?id=org.elevate.mentoring" target="_blank">{{"SIGNUP"| translate}}</a></button>
                
        </div>

        <div fxFlex="20%" fxFlex.lt-md="50%" class="footer-link-container" >

            <p class="footer-quick-links">{{"QUICK_LINKS"| translate}}</p>
            <div fxLayout="row">
                <div fxFlex="%" fxLayout="column" fxLayoutGap="2px">
                    <a href="" target="_blank"class="footer-link">{{"FAQ" | translate}} </a>
                    <a href="" target="_blank"class="footer-link">{{"HELP_VIDEOS"| translate}}</a>
                    <a href="" target="_blank" class="footer-link">{{"TERMS_AND_CONDITIONS" | translate}}</a>
                    <a href="" target="_blank" class="footer-link">{{"PRIVACY_POLICY" | translate}}</a>
                </div>
                <div fxFlex="50%" fxLayout="column" fxLayoutGap="2px">
                    <a href="" target="_blank" class="footer-link">{{"MENTORING_BLUE_BOOK" | translate}}</a>
                    <a href="https://elevate.shikshalokam.org/" target="_blank" class="footer-link">{{"ELEVATE" | translate}}</a>
                    <a href="https://shikshalokam.org/" target="_blank" class="footer-link">{{"SHIKSHALOKAM" | translate}} </a>
                </div>

            </div>
        </div>

        <div class="footer-get-in-touch-container" >
            <p class="footer-get-in-touch">{{"GET_IN_TOUCH" | translate}}</p>
            <div fxLayout="row" fxLayoutGap="4%">
                <img src="/assets/images/logo-twitter.svg" height="30px" />
                <img src="/assets/images/logo-linkedin.svg" height="30px" />
                <img src="/assets/images/logo-youtube.png" height="30px" />
            </div>
            <div class="footer-address-container" fxLayout="column" fxLayoutGap="0">
                <p class="footer-address">{{"ADDRESS" | translate}}</p>
                    <a href="mailto:info@shikshalokam.org">
                      <span>info@shikshalokam.org</span>
                    </a>
               
            </div>

            <div fxLayout="row" fxLayoutGap="4%">
                <img src="/assets/images/MOE-logo.png" height="50px" />
                <img src="/assets/images/Elevate-logo.png" height="50px" />
                <img src="/assets/images/SL-logo.png" height="50px" />
            </div>
        </div>
        <div>

        </div>


    </div>
 
</div>