<div class="footer" fxLayoutAlign="center">


    <div class="footer-container" fxLayout="row"  fxFlex.lt-sm="column" fxLayout.lt-md="column"  fxLayoutAlign="center" fxLayoutGap="20px">

        <div fxFlex="25%" >
            <img class="footer-mobile-logo" src="/assets/images/Mobile.svg" />
        </div>
        <div fxFlex="30%" class="footer-signup-container">
            <p class="footer-signup-text">Connect to a community of Mentor and Mentees anywhere, anytime, with just one
                App!</p>
            <div class="footer-signup-contains">
                <p>MentorEd is a NDEAR Compliant offering that is also available on Playstore.</p>
            </div>
            <button class="footer-signup-button" mat-raised-button ><a class="footer-signup-button-a" href="https://play.google.com/store/apps/details?id=org.elevate.mentoring" target="_blank">Signup now !</a></button>
                
        </div>

        <div fxFlex="20%" fxFlex.lt-md="50%" class="footer-link-container" >

            <p class="footer-quick-links">Quick links</p>
            <div fxLayout="row">
                <div fxFlex="%" fxLayout="column" fxLayoutGap="2px">
                    <a href="" target="_blank"class="footer-link">FaQs </a>
                    <a href="" target="_blank"class="footer-link">Help Videos</a>
                    <a href="" target="_blank" class="footer-link">Terms and conditions </a>
                    <a href="" target="_blank" class="footer-link">Privacy policy</a>
                </div>
                <div fxFlex="50%" fxLayout="column" fxLayoutGap="2px">
                    <a href="" target="_blank" class="footer-link">Mentoring blue book</a>
                    <a href="https://elevate.shikshalokam.org/" target="_blank" class="footer-link">Elevate</a>
                    <a href="https://shikshalokam.org/" target="_blank" class="footer-link">Shikshalokam </a>
                </div>

            </div>
        </div>

        <div class="footer-get-in-touch-container" >
            <p class="footer-get-in-touch">Get in touch</p>
            <div fxLayout="row" fxLayoutGap="4%">
                <img src="/assets/images/logo-twitter.svg" height="30px" />
                <img src="/assets/images/logo-linkedin.svg" height="30px" />
                <img src="/assets/images/logo-youtube.png" height="30px" />
            </div>
            <div class="footer-address-container" fxLayout="column" fxLayoutGap="0">
                <p class="footer-address">No 733, 17th Cross, 24th Main, jp Nagar, 6th Phase, Bangalore, Karnataka
                    560078.</p>
                    <a href="mailto:info@shikshalokam.org">
                      <span>info@shikshalokam.org</span>
                    </a>
               
            </div>

            <div fxLayout="row" fxLayoutGap="4%">
                <img src="/assets/images/MOE-logo.png" height="50px" />
                <img src="/assets/images/Elevate-logo.png" height="50px" />
                <img src="/assets/images/SL-logo.png" height="50px" />
            </div>
        </div>
        <div>

        </div>


    </div>
 
</div>