@import "../../../../variables";

h1 {
    letter-spacing: 1px;
    color: $theme;
    font-weight: 500;
    margin-top: 10px;
}
.resend-otp {
    color: $blue;
    padding: 5px;
    cursor: not-allowed;
}
.checkbox {
    margin-top: 10px;
    font-size: 15px;
}
::ng-deep .mat-checkbox-layout {
    white-space: normal !important;
}
::ng-deep .mat-checkbox-layout .mat-checkbox-label{
    margin-left: 12px;
    font-weight: 500;
}
.text-blue {
    color: $light-blue;
    text-decoration: none;
}

.login-button {
    margin: 25px auto;
}

.enable {
    cursor: pointer;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label a{
    font-weight: normal !important;
}