@import "/src/variables";

.container{
   padding-bottom: 3%;

}
.container h1{
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    color: $theme;
    padding-top: 3%;
}
.signup-link{
    padding-right: 8%;
    padding-top: 8px;
} a{
    letter-spacing:0.2px;
    color: $blue;
    text-decoration: none;
    font-weight: 500
}

.signup-button{
    padding-top: 5%;
}