<!-- <div fxLayout="column" fxLayoutAlign="space-between center" class="container">
  <h1>
    Welcome Back !
  </h1>
  <div>
    <app-dynamic-form
      [jsonFormData]="formData"
      #loginForm
      class="dynamicForm">
    </app-dynamic-form>
  </div>
  <button
    mat-raised-button
    color="primary"
    class="btn login"
    [disabled]="!loginForm.myForm.valid"
    (click)="onLogin()">
    Login
  </button>
  <div class="button-row">
    <mat-checkbox class="example-margin">Remember me</mat-checkbox>

    <a mat-button href="https://www.google.com/" target="_blank">Forgot password?</a>
  </div>
  <div class="divider">
    <div class="line"><mat-divider></mat-divider></div>
    <div class="text mat-typography">New to MentorED?</div>
    <div class="line"><mat-divider></mat-divider></div>
  </div>
  <button mat-raised-button color="primary" class="btn signup" routerLink="/auth/register">Sign Up</button>
</div> -->

<div class="container">
  <h1>
    Welcome Back !
  </h1>
  <div>
    <app-dynamic-form
      [jsonFormData]="formData"
      #loginForm
      class="dynamicForm">
    </app-dynamic-form>
  </div>
  <button
    mat-raised-button
    color="primary"
    class="btn login"
    [disabled]="!loginForm.myForm.valid"
    (click)="onLogin()">
    Login
  </button>
  <div class="button-row">
    <mat-checkbox class="example-margin">Remember me</mat-checkbox>

    <a mat-button href="https://www.google.com/" target="_blank">Forgot password?</a>
  </div>

  <div class="divider">
    <div class="line"><mat-divider></mat-divider></div>
    <div class="text mat-typography">New to MentorED?</div>
    <div class="line"><mat-divider></mat-divider></div>
  </div>
  <button mat-raised-button color="primary" class="btn signup" routerLink="/auth/register">Sign Up</button>
</div>