<div fxLayout="column" fxLayoutAlign="center center">
  <div>
    <ng-template [ngIf]="details.data.image" [ngIfElse]="loggedOut">
      <div>
        <img  class="image default-image" [src]="details?.data?.image" alt="profilepic" />
      </div>
    </ng-template>
    
    <ng-template #loggedOut>
      <div>
        <img class="image" src="/assets/images/user-circle-add.svg" /> 
      </div>
    </ng-template>
  </div>
  <div class="title">{{ details?.data?.name | titlecase }}</div>
  <div
    fxLayout="row"
    fxLayoutAlign="space-around center"
    class="title"
    *ngFor="let location of details?.data?.location"
  >
    <mat-icon class="location-icon">room</mat-icon>
    <div class="inline-label">{{ location?.label }}</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="title" *ngIf="details?.data?.isAMentor">
    <mat-icon class="star-icon">grade</mat-icon>

    <div *ngIf="details?.data?.isAMentor" class="inline-label">
      {{ details?.data?.rating?.average + '  ' }}({{
        details?.data?.sessionsHosted + ('SESSIONS' | translate)
      }})
    </div>
    
  </div>
  <div *ngIf="!details?.data?.isAMentor" fxLayout="row" fxLayoutAlign="space-around center" class="title">
    {{details?.data?.sessionsAttended  + ('SESSIONS_ATTENDED' | translate)}}
  </div>
  <button
    class="edit-button button-shadow"
    fxLayoutAlign="center"
    fxLayout="row"
    fxFlex.md="10%"
    fxFlex.lt-md="10%"
    fxLayoutAlign="center center"
    (click)="editProfile()"
  >
    <mat-icon class="edit-icon" fxLayoutAlign="center center">
      mode_edit_outline
    </mat-icon>
    <div class="edit-text" fxLayoutAlign="center center">{{details?.buttonLabel|translate}}</div>
  </button>
</div>
