<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center" fxLayoutAlign="{{layoutAlign}}">
  <div>
    <ng-template [ngIf]="details.data.image" [ngIfElse]="loggedOut">
      <div>
        <img class="image" [ngClass]="{'round-image':details?.data?.image}" [src]="details?.data?.image" alt="profilepic" />
      </div>
    </ng-template>
    
    <ng-template #loggedOut>
      <div>
        <img class="image" src="/assets/images/user-circle-add.svg" /> 
      </div>
    </ng-template>
  </div>
  <div class="title text-ellipse" fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center" fxLayoutAlign="{{layoutAlign}}">{{ details?.data?.name | titlecase }}</div>
  <div
    fxLayout="row"
    class="title"
    *ngFor="let location of details?.data?.location"
  >
    <mat-icon class="location-icon">room</mat-icon>
    <div class="inline-label">{{ location?.label }}</div>
  </div>
  <div fxLayout="row" class="title" *ngIf="details?.data?.isAMentor && !mentorDirectory">
    <mat-icon *ngIf="details?.data?.rating?.average" class="star-icon">grade</mat-icon>
    <label class="inline-label">
      <span *ngIf="details?.data?.rating?.average">{{ details?.data?.rating?.average + '  ' }}</span>({{
        details?.data?.sessionsHosted + ('SESSIONS' | translate)
      }})
    </label>
  </div>
  <div fxLayout="row" class="title" *ngIf="details?.data?.isAMentor && mentorDirectory && details?.data?.rating?.average">
    <mat-icon *ngIf="details?.data?.rating?.average" class="star-icon">grade</mat-icon>
    <label class="inline-label" >
      <span *ngIf="details?.data?.rating?.average">{{ details?.data?.rating?.average + '  ' }}</span>({{
        ('RATING' | translate)
      }})
    </label>
  </div>
  <div *ngIf="!details?.data?.isAMentor" fxLayout="row" class="title">
    {{details?.data?.sessionsAttended  + ('SESSIONS_ATTENDED' | translate)}}
  </div>
  <div *ngIf="details?.data?.isAMentor && mentorDirectory" fxLayout="row" fxLayoutGap="3px" class="title">
    <mat-icon class="location-icon">videocam</mat-icon>
    <span>{{ details?.data?.sessionsHosted}}</span>
    {{('SESSIONS_HOSTED' | translate)}}
  </div>
  <button
    class="edit-button"
    fxLayoutAlign="center center"
    fxLayout="row"
    fxFlex.md="10%"
    fxFlex.lt-md="10%"
    (click)="editProfile()"
    *ngIf="!mentorDirectory"
  >
    <mat-icon class="edit-icon">
      mode_edit_outline
    </mat-icon>
    <div class="edit-text">{{details?.buttonLabel|translate}}</div>
  </button>
  <button
    class="edit-button"
    fxLayoutAlign="center center"
    fxLayoutGap="5px" 
    fxLayout="row"
    fxFlex.md="10%"
    fxFlex.lt-md="10%"
    (click)="shareProfile()"
    *ngIf="mentorDirectory"
  >
    <mat-icon class="edit-icon">
      share
    </mat-icon>
    <div class="edit-text">{{'SHARE_PROFILE'|translate}}</div>
  </button>
</div>
