@import "/src/variables";

.categories {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    justify-content: center;
    background-color: rgb(247, 243, 243);
}

.view-more {
    cursor: pointer;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: $theme;
    color: white;
}

.all-section {
    padding-left: 20%;
    font-weight: 500;
}


@media screen and (max-width: 950px) {
    .categories {
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
        justify-content: center;
    }

}