.vertical-line{
    border-left: 1px solid rgb(0, 0, 0);
}
.card {
    margin-top: 2%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px;
  }
.profile-header-conatiner, .profile-details-conatiner{
  display: inline-block;
  padding: 0 5% 0 5%;
}
.create-sessions-text{
  padding:  3%  0 3% 2%;
  font-weight: 500;
}
.view-more-button-container{
  margin: 5% 0 2% 0;
}