<div fxLayout="column">
  <div
    class="content"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayoutGap="10% "
    fxLayout.lt-md="2%"
    fxLayoutAlign="center center"
  >
    <app-role-selection-card
      *ngFor="let role of roleList"
      [isSelected]="role.role == selectedRole"
      [role]="role"
      (cardOneSelected)="cardOneSelected($event)"
    fxFlex.lt-md="39%"

    ></app-role-selection-card>
  </div>

  <div fxFlex="30%" fxLayoutAlign="center">
    <button fxFlex="30%" mat-raised-button color="primary" mat-raised-button
    [ngClass]="{
      'button-enabled': buttonEnable
    }"
    class="button"
    type="submit"
    [disabled]="!buttonEnable"
    (click)="buttonClick()"
        >{{"NEXT" | translate}}</button>
</div>
</div>
