.card-wrapper {
  display: flex;
  padding-top: 20%;
  gap: 40px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  width: 20rem;
  background: rgb(105, 104, 104);
  color: white;
  margin-top: 10%;
  border: 1px solid rgb(200, 198, 198);
  padding: 3px;
}
.button[disabled] {
  background: rgb(225, 223, 223);
  color: #000;
}

@media screen and (max-width: 950px) {
  .button {
    width: 6rem;
    background: rgb(105, 104, 104);
    color: white;
    margin-top: 20%;
    border: 1px solid rgb(200, 198, 198);
  }
  .button[disabled] {
    background: rgb(225, 223, 223);
    color: #000;
  }
}
@media screen and (max-width: 450px) {
  .button {
    margin-top: 10%;
    margin-left: 8%;
    padding: 2px;
  }
}
