@import "/src/variables";

.form-field-invalid {
  color: $red !important;
}
.form-group {
  margin-bottom: 10px;
}
mat-form-field {
  display: flex;
  flex-direction: column;
}

mat-error {
  display: inline-flex;
  align-items: center;
  color: $red !important;
}
.error-icon-info{
  margin-right: 5px;
}
.error-icon-star{
  font-size: 11px;
  vertical-align: middle;
}
.form-field-label{
  font-size: 19px;
}
mat-slider{
  width: 100%;
}