@import "../../../../variables";
.conatiner{
    background-color: $light-pink;
    margin-top: 5%;
    padding: 20px;
    border-radius: 3rem 3rem 0 0;
    overflow-x : auto;
    min-height: 110px;
}
.navigation-container {
  height: 55px;
  padding-top: 10px;
  padding-left: 5px;
}
.page-navigator-button{
    cursor: pointer;
    font-weight: bold;
    min-width :200px;
    box-shadow: 3px 3px $light-grey;
}
.active{
    background: $theme;
    color: $white;
}
h1 {
  font-weight: 500;
  font-size: 26px;
  margin: 0px;
}
.back-button{
  width: 65px !important;
  height: 65px !important;
  mat-icon {
    font-size: 25px;
  }
}