<div *ngIf="pageTitle" class="conatiner" fxFlex="71%" fxFlex.xs="100%" fxFlex.sm="90%" fxFlex.md="90%">
    <div class="navigation-container" fxLayoutAlign="start center" fxLayoutGap="5%">
        <button class="back-button" mat-fab color="white" (click)="onBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h1 *ngIf="pageTitle" fxLayoutAlign="center center">{{pageTitle|translate}}
        </h1>
    </div>
</div>
<div *ngIf="!pageTitle" class="conatiner" fxFlex="71%" fxFlex.xs="100%" fxFlex.sm="90%" fxFlex.md="90%">
    <div class="navigation-container" fxFlex="row" fxLayoutAlign="center center" fxLayoutGap="15px">
        <div *ngFor='let page of navigationArray'>
            <button fxFlex.xs="40%"
                routerLink='{{page.url}}' routerLinkActive="active" class="page-navigator-button"
                mat-raised-button>{{page.label | translate }}</button>
        </div>
    </div>
</div>