@import "../../../../variables";
.exit-popup-container{
   width: 100%;
}
.mat-cancel-icon{
    float: right;
    color: $theme;
    background-color: $white;
}
.mat-cancel-icon :hover{
    background-color: $white;
}
.text-container{
    padding-right: 100px;
}
.text-exit-page{
    font-weight:600 ;
}
::ng-deep .mat-dialog-container{
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px $grey;
}
::ng-deep .mat-button{
    border-radius: 25px; 
}
::ng-deep .mat-button:hover{
   background: $white;
}
.exit-conatiner{
    width: 100%;
}
.cancel-button-container{
    padding-left: 60%;

}
.exit-cancel-button{
    box-shadow: 1px 1px 1px 1px $grey;
    width: 100px;
    text-align: center;
}
.cancel-button{
    background-color:$theme;

 }
button {
    outline: none;
  }

  ::ng-deep .mat-button-focus-overlay {
    display: none;
  }
.exit-button:hover,  .cancel-button:hover{
    background-color:$theme;
}