<mat-card class="card-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
    <div class="card-images" fxFlex="40%">
        <div *ngIf="cardData?.image==''; else elseBlock"><img fxFlex="100%" class="card-image"
                src="/assets/images/session-default-img.png" height="180px" /></div>
        <ng-template #elseBlock><img class="card-image" fxFlex="100%" [src]="cardData.image" alt="card data image"
                height="180px"></ng-template>
    </div>
    <div fxFlex="100%" class="card-details" fxLayout="column" fxLayoutGap="10px">

        <p class="card-detail-bold">{{cardData.title | titlecase}}</p>

        <p class="card-detail-bold">{{cardData.mentorName | titlecase}}</p>
        <div>
            <div class="card-session-date" fxLayout="row">
                <mat-icon>event</mat-icon>
                <p>Session date: {{cardData.startDate | date:'shortDate'}}</p>

            </div>
            <div class="card-session-time" fxLayout="row">
                <mat-icon>alarm</mat-icon>
                <p>Session time:{{cardData.startDateUtc | date:'shortTime'}}</p>
            </div>
        </div>
        <div class="sub-card-details" fxLayout="row">
            <p class="sub-card-view-details">View details</p>
            <button class="sub-card-details-button" mat-raised-button color="primary">{{cardData.status |
                titlecase}}</button>
        </div>

    </div>

</mat-card>