.card-details {
    padding: 2%;
}

.card-container {
    padding: 0.5%;
    
}

.card-images {
    padding: 10px;

}
.mat-icon {
    font-size: 20px;
}

.sub-card-view-details {
    width: 75%;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 500;
    color: rgb(56, 143, 224);

}

.sub-card-details-button {
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: 100;

}

.card-session-date,
.card-session-time {
    gap: 10px;
    font-size: 12px;
}

.card-detail-bold {
    font-weight: 500;

}