
<div *ngFor="let detail of details?.form" fxLayoutAlign="center center" fxLayout="column" class="data">
  <div fxLayoutAlign="center" class="title" fxLayoutAlign="center">
    {{ detail?.title | translate }}
  </div>
  <div
    fxLayoutAlign="center"
    class="description"
    fxLayoutAlign="center"
    *ngIf="isArray((details?.data)[detail?.key]); else elseBlock"
    fxLayout.lt-sm="column"
    fxLayoutGap.lt-sm="7%"
  >
    <mat-chip *ngFor="let chip of (details?.data)[detail?.key]" class="chip">
      <mat-label>{{ chip.label }}</mat-label><span>&nbsp;</span>
    </mat-chip>
  </div>
  <ng-template #elseBlock>
    <div class="details">{{(detail?.key == 'experience')? details?.data[detail?.key] +("YEARS"| translate):details?.data[detail?.key] }} </div>
  </ng-template>
</div>
