@import '../../../../variables';
.title {
  font-weight: 500;
  font-size: medium;
}
.data {
  padding: 7px 0px;
}
.description {
  font-size: 16px;
}
mat-chip {
  border: 1px solid $theme;
}
.mat-chip-container {
  overflow: hidden;
  text-align: center;
  padding: 10px;
  margin: 5px;
  max-height: 45px;
}