<mat-toolbar class="shadow bottom">
  <mat-toolbar-row>
    <img class="header-logo" src="/assets/images/MentorEd-logo.svg" />
  </mat-toolbar-row>
</mat-toolbar>
<div class="body" fxlayout="row" fxlayout.md="column" fxLayout.xs="column" >
  <div class="body-content left-div" fxFlex.lt-md="100%">
    <h1>
      {{"AUTH_WELCOME_MSG"|translate}}
    </h1>
  </div>
  <div class="body-content right-div" fxFlex.lt-md="100%">
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
