.shadow {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
  &.bottom {
    box-shadow: 0px 9px 10px -15px #111;
  }
}
mat-toolbar {
  background-color: white;
}
.body-style {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-left {
  height: 100vh;
  background: linear-gradient(45deg, #da807d 0%, #b23836 95%);
  color: white;
  background-color: #b23836;
}
.body-right {
  height: 100vh;
  background-color: white;
}
