<mat-toolbar class="shadow bottom">
  <mat-toolbar-row>
    <img class="header-logo" src="/assets/images/MentorEd-logo.svg" />
  </mat-toolbar-row>
</mat-toolbar>
<div class="body" [ngClass]="{'body-height': !isPhone}"  fxlayout="row" fxlayout.md="column" fxLayout.xs="column">
  <div
    class="body-content left-div"
    fxLayout="column"
    fxFlex.lt-md="column"
    fxlayout.md="column"
    fxLayout.xs="column"
    fxLayoutAligmnet="space-between center"
  >
    <h1 class="text">
      {{ header | translate }}
    </h1>
    <label class=text>
      {{subHeader | translate}}
    </label>
  </div>
  <div
    class="body-content "
    [ngClass]= "{'right-div': !isPhone,'right-div-mobile': isPhone }"
    fxFlex.lt-md="column"
    fxlayout.md="column"
    fxLayout.xs="column"
    fxLayoutAlign="center stretch"
    fxLayout="column"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="center space-evently"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
