
@import "../../../../variables";
.card-wrapper {
  margin-top: 15%;
}

mat-card {
  max-width: 15rem;
  height: 22rem;
  border-radius: 15px;
}

.mentor-card-selected {
  background: $theme-gradient !important;
  .title , .content {
    color:$white;
  }
}

.image {
  max-width: 9rem;
  max-height: 9rem;
  margin-top: 30%;
}
.title{
  padding-top: 7%;
  font-weight: 600;
  color: $black;
  text-align:center;
  font-size: large
}

.content{
  color:$black;
  padding-top: 8%;
  font-weight: 500;
  text-align:center;
  font-size: medium
}
