
@import '../../../../sb-theme.scss';

.card-wrapper {
  margin-top: 15%;
  
}

mat-card {
  width: 12rem;
  height: 14rem;

  border-radius: 15px;
}

.mentor-card-selected {
  background-color: mat-color($sb-palette-primary,400) !important;
  .card-details {
    color: mat-color($sb-palette-primary, 50) !important;
  }
}
mat-card-header {
  align-items: center;
  justify-content: center;
  margin-right: 18%;
}
.mentor-image {
  width: 7rem;
  height: 7rem;
}



.heading {
  display: flex;
  justify-content: center;
  padding-top: 8%;
  font-weight: 600;
  color: #000;
}
.sub-content {
  color: #000;
}