<mat-toolbar class="mat-elevation-z3">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-evenly center">
    <div fxFlex="20" fxFlex.lt-sm="15" fxFlex.sm="10" fxFlexAlign="center center">
      <img class="header-logo" src="/assets/images/MentorEd-logo.svg" />
    </div>
    <div
      fxFlex="54%"
      fxFlex.lt-lg="100%"
      fxLayoutAlign="center center"
      class="searchBar"
      fxFlex.md="40%"
      fxFlex.xs="60"
      fxFlex.sm="75"
    >
      <form fxFlex fxLayout="row" class="img-fluid hover-shadow">
        <mat-icon class="search-icon" matPrefix>search</mat-icon>
        <input
          fxFlex="70%"
          fxFlex.lt-md="50%"
          matInput
          type="search"
          placeholder="Search for sessions, mentor profile"
          #searchInput
          autocomplete="off"
          class="search-input"
        />
        <button
          fxFlex="13%"
          fxFlex.lt-lg="17%"
          fxFlex.lt-md="14%"
          fxFlex.lt-sm="35%"
          class="button"
        >
          {{ 'SEARCH' | translate }}
        </button>
      </form>
    </div>
    <div
      fxFlex
      fxLayoutAlign="space-around center"
      class="container"
      [fxHide.sm]="true"
      [fxHide.xs]="true"
    >
      <span fxFlex></span>
      <div class="menu-button" fxLayoutAlign="space-around">
        <mat-icon class="language-icon">language</mat-icon>
        <mat-select
          class="options"
          fxFlex
          fxFlexAlign="center"
          [(value)]="selectedLanguage"
          selectedLanguage="en"
        >
          <mat-option [value]="option.value" *ngFor="let option of options">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </div>

      <span fxFlex></span>
      <div class="letter">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="name" mat-fab>{{letter|titlecase}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>{{"LOGOUT"|translate}}</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div fxLayoutAlign="center">
      <mat-icon
      fxFlex
      fxFlexAlign="center"
      class="menu-icon"
      [fxHide.xl]="true"
      [fxHide.lg]="true"
      [fxHide.md]="true"
      (click)="onClick()"
      fxFlex.sm="100"
      fxFlex.xs="100"
    >
      menu
    </mat-icon>
    </div>
  </div>
</mat-toolbar>

