@import '../../../../variables';
.header-logo {
  max-width: 68px;
  margin-top: 4px;
}
mat-toolbar {
  min-height: 110px;
  background: $white;
  min-width: fit-content;
}

.language-icon {
  padding: 2px;
  font-size: 28px;
}
.search-icon {
  color: $theme;
  padding-top: 8px;
  padding-left: 8px;
}

form {
  border-radius: 25px;
  box-shadow: 3px 3px 1px 1px $light-grey;
  background-color: $lighter-grey;
  height: 42px;
  padding: 2px;
  transition: all 0.4s ease-in-out;
  justify-content: space-between;
}
form:hover {
  transform: scale(1.009, 1.009);
  box-shadow: 3px 3px 1px 1px $grey;
}
input[type='search'] {
  border-style: none !important;
  background: transparent;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: inherit;
  text-overflow: ellipsis;
}
.button {
  border-radius: 25px;
  border: none;
  background-color: $grey-shade;
  color: $white;
  font-size: 12px;
  min-width: 50px;
  margin: 2px;
}
.button:hover {
  background: $grey;
}

.select {
  max-height: 50px;
  border-radius: 50px;
  box-shadow: 1px 2px 2px 1px $light-grey;
}

.select-button {
  border-radius: 20px;
  padding: 0px 25px;
  border: none;
  box-shadow: 2px 2px 1px 1px $light-grey;
}

.name {
  color: $light-red;
  background: $lighter-grey;
  box-shadow: 4px 4px 1px 1px $light-grey;
  float: right !important;
  width: 55px;
  height: 55px;
  font-size: larger;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}
.name:hover {
  transform: scale(1.009, 1.009);
  box-shadow: 3px 3px 1px 1px $grey;
}
.letter {
  padding-bottom: 2%;
}
.options {
  padding-left: 13%;
}

.menu-button {
  border-radius: 25px;
  box-shadow: 2px 2px 1px 1px $light-grey;
  width: 48%;
  transition: all 0.4s ease-in-out;
  height: 42px;
  padding: 0px 10px;
}
.menu-button:hover {
  transform: scale(1.009, 1.009);
  box-shadow: 3px 3px 1px 1px $grey;
}

::ng-deep .mat-select-placeholder {
  font-size: 12px;
  padding-left: 20%;
  color: $black;
}
mat-select {
  font-size: 12px;
  font-weight: 500px;
  color: $theme;
}
.container {
  padding-right: 3%;
}
.search-input {
  outline: none;
  padding-left: 6px;
}
::ng-deep form {
  opacity: 1 !important;
}
