<div class="container" fxLayoutAlign="center space-between" fxLayout="column">
    <div fxLayoutAlign="center" fxFlexOffset="20px">
        <img fxFlex="12%" fxFlex.sm="16%" fxFlex.xs="20%" src="/assets/images/user.png" alt="">
    </div>
    <div fxLayout="row" fxFlexOffset="35px" fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="30" fxFlex.sm="40" fxFlex.xs="55" fxLayoutGap="20">
            <button mat-raised-button color="primary">{{"ADD_IMAGE" | translate}}</button>
            <button mat-raised-button color="primary">{{"REMOVE_IMAGE" | translate}}</button>
        </div>
    </div>
</div>