<div class="container" fxLayoutAlign="center space-between" fxLayout="column">
    <div fxLayoutAlign="center" fxFlexOffset="20px">
        <img fxFlex="12%" src="/assets/images/user.png" alt="">
    </div>
    <div fxLayoutAlign="center" fxFlex fxFlexOffset="35px">
        <button mat-raised-button color="primary" fxFlex="25%">Add image</button>
    </div>
    <div fxLayoutAlign="center" fxFlex fxFlexOffset="20px">
        <button mat-raised-button color="primary" fxFlex="25%">Remove image</button>
    </div>
</div>