.button-shadow {
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
    min-height: 45px;
    font-size: 15px;
    border-radius: 8px;
    letter-spacing: 0.5px;
    width: 230px;
}
hr {
    border: 0;
    margin-top: 40px;
    margin-bottom: 80px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        width: 100%;
        border: 1px solid rgb(120, 118, 118);
    }
}
.img-small {
    height: 180px;
    width: 180px;
}
.image {
    width: 125px;
    height: 125px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
  }
  .round-image {
    border-radius: 100px;
  }