.home-container {
    padding-top: 3%;
    min-height: 550px;
}

.view-more {
    margin-top: 2%;
}

.all-section {
    padding-left: 20%;
    font-weight: 500;
}
.session-listing-container{
    padding: 0 10px 0 10px ;
}