<div class="exit-popup-container">

    <mat-icon class="mat-cancel-icon" mat-dialog-close >cancel_circle_outline</mat-icon>

    <div class="text-container">
        <h1 class="text-exit-page">Exit this page?</h1>

        <h2>"Are you sure you want to exit? your data will not be saved."</h2>
    </div>

    <div fxLayout="row" class="exit-conatiner">
        <div mat-dialog-actions>
            <button class="exit-cancel-button" mat-button mat-dialog-close (click)="onClickExit()">Exit</button>
        </div>

        <div mat-dialog-actions class="cancel-button-container">
            <button class="cancel-button exit-cancel-button" mat-button mat-dialog-close
                >Cancel</button>
        </div>
    </div>
</div>