
<!-- <div class="cardMain"> -->
 
    <mat-card class="cardComponent">
        <div class="cardImages">
<img [src]="cardData.image" alt="" width="180px" height="auto">
        </div>
       <div class="cardDetails">
         
         <p class="cardDetailBold">{{cardData.title}}</p>
       
       
        <p class="cardDetailBold">{{cardData.mentor_Name}}</p>
        <div class="cardSessionDate">
            <mat-icon>event</mat-icon>
            <p>Session date: {{cardData.session_date}}</p>

        </div>
        <div class="cardSessionTime"><mat-icon>alarm</mat-icon>
            <p>Session time:{{cardData.session_time}}</p></div>
        
        <div class="subCardDetails">
            <p class="subCardDetails_viewDetails">view details</p>
            <button class="subCardDetails_button" mat-raised-button>{{cardData.session_state}}</button>  
        </div>
        
       </div>
       
    </mat-card>
    
