$white: #fff;          
$theme: #b23836;
$black: #111;
$dark-yellow: #ffd740;
$green:#39a464;
$red: red;
$grey: grey;
$light-grey: rgb(191, 191, 191);
$shade-grey: rgb(250, 250, 250);
$blue: rgb(0, 75, 235);
$light-blue: rgb(76, 115, 201);
$theme-gradient:linear-gradient(45deg, #ce6a67 0%, #b23836 95%)