$white: #fff;          
$theme: #b23836;
$black: #111;
$theme-gradient:linear-gradient(45deg, #ce6a67 0%, #b23836 95%);
$grey:#555;
$grey2:rgb(150, 149, 149);
$light-grey: rgb(191, 191, 191);
$lighter-grey:rgb(250, 249, 249);
$shade-grey: rgb(250, 250, 250);
$lightRed:rgb(250, 64, 26);
$dark-yellow: #ffd740;
