
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mentorEd-portal-primary: mat.define-palette(mat.$indigo-palette);
$mentorEd-portal-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mentorEd-portal-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mentorEd-portal-theme: mat.define-light-theme((
  color: (
    primary: $mentorEd-portal-primary,
    accent: $mentorEd-portal-accent,
    warn: $mentorEd-portal-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($mentorEd-portal-theme);

/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "/src/variables";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.snack_bar{
  background-color: $red !important;
  color: $white !important;
}
.snack_icon{
  color: $white !important;
}
.warning{
  background: $red !important;
  color: $white !important;
}
.mat-chip {
  height: 45px !important;
  color: $theme !important;
  font-size: 16px !important;
  border-radius: 25px !important;
  background-color: $white !important;
}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  color: $white !important;
  background-color: $theme !important;
}
.mat-chip-list-wrapper{
  display: flex !important;
  justify-content: center !important;
}