@import "../../../../../variables";

.wrapper{
    padding-top: 2%;
}
.session-wrapper{
    padding-top: 6%;
    color: $grey;
}
.session{
    font-weight:600

}
.filter{
  background-color: $theme;
  color: $white;
  border: transparent;
  padding: 2px 6px 2px 6px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
  min-height: 15px;
  font-size: 10px;
  border-radius: 8px;
  min-width:16%
}

mat-card{
    align-items: center;
    justify-content: center
}
.card {
    margin-top: 2%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px;
  }
  
.wrapper-card {
    margin: 8% 0 8% 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3) !important;
    border-radius: 7px;
    align-items: center
  }

  .button{
    margin: 1%;
  min-width: 21%;
  border-radius: 8px;
  background-color: $theme;
  color: $white;
  border: transparent;
  padding: 2px 6px 2px 6px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
  min-height: 15px;
  border-radius: 8px;
  }
  .button-wrapper{
    justify-content:center;
  }
  .options{
    color:white !important;
    font-size: 12px
  }
  .piechart{
max-height:90%
  }