<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="drawer" position="end">
    <div fxLayout="column" fxLayoutAlign="center">
      <div class="menu-button" fxLayoutAlign="space-evenly center">
        <mat-icon class="icon">language</mat-icon>
        <mat-select fxFlexAlign="center" [(value)]="selectedLanguage">
          <mat-option fxFlex class="options" [value]="option.value" *ngFor="let option of options">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </div>
      <div class="menu-button" fxLayoutAlign="space-evenly center">
        <mat-button fxFlex="100%" fxLayoutAlign="space-evenly center" (click)="onLogout()">
          <mat-icon class="icon">exit_to_app</mat-icon>
          {{"LOGOUT"|translate}}
        </mat-button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="static-header">
      <app-header (menuToggleEvent)="drawer.toggle()"></app-header>
      <app-page-navigator fxLayout="row" fxLayoutAlign="center center"></app-page-navigator>
    </div>
    <div class="layout-sections">
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
      <div class="footer">
        <app-footer></app-footer>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>