<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="drawer" position="end">
    <div fxLayout="column" fxLayoutAlign="center">
      <div class="menu-button" fxLayoutAlign="space-evenly center">
        <mat-icon class="icon">language</mat-icon>
        <mat-select fxFlexAlign="center" [(value)]="selectedLanguage" (selectionChange)="languageEvent()">
          <mat-option fxFlex class="options" [value]="option.value" *ngFor="let option of options">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </div>
      <div class="menu-button" fxLayoutAlign="space-evenly center">
        <mat-button fxFlex="100%" fxLayoutAlign="space-evenly center" (click)="goToProfile();drawer.toggle()">
          <mat-icon>account_circle</mat-icon>
          <span>{{"MY_PROFILE"|translate}}</span>
        </mat-button>
      </div>
      <div class="menu-button" fxLayoutAlign="space-evenly center">
        <mat-button fxFlex="100%" fxLayoutAlign="space-evenly center" (click)="goToDashboard();drawer.toggle()">
          <mat-icon>assessment</mat-icon>
          <span>{{"DASHBOARD"|translate}}</span>
        </mat-button>
      </div>
      <div class="menu-button" fxLayoutAlign="space-evenly center">
        <mat-button fxFlex="100%" fxLayoutAlign="space-evenly center" (click)="onLogout()">
          <mat-icon class="icon">exit_to_app</mat-icon>
          {{"LOGOUT"|translate}}
        </mat-button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="static-header">
      <app-header (menuToggleEvent)="drawer.toggle()"></app-header>
    </div>
    <div >
      <div class="router-container">
      <app-page-navigator fxLayout="row" fxLayoutAlign="center center"></app-page-navigator>
      <div class="layout-sections">
        <router-outlet ></router-outlet>
      </div>
      </div>
      <div class="footer">
        <app-footer></app-footer>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>