<div role="group">
    <mat-chip-list
    #chipList 
    multiple
    [required]="control?.validators.required"
    [disabled]="disabled">
    <mat-chip 
        *ngFor="let chip of control?.options"
        [removable]="control?.removable"
        [value]="chip.value"
        (click)="onChipClick(chip)"
        [selected]="this.selectedChips.has(chip)">
        {{chip?.label}}
        <mat-icon 
            matChipRemove 
            *ngIf="chip.selected"
            (click)="onChipClick(chip)">
            cancel
        </mat-icon>
    </mat-chip>
    <input
        #add
        [placeholder]="lowerCaseLabel"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (blur)="add.value = ''"
        (matChipInputTokenEnd)="addChip($event)">
</mat-chip-list>
</div>